body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
    background: url("../img/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#loginBox{
	border-color: #cfd9d7;
    border-radius: 2px;
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	padding-bottom: 7%;
	padding-top: 7%;
	color: #333333;
	margin: 10%;
	border-radius: 5px;
}