<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Tornado WebRTC</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/kube.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/main.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ static_url('js/webrtc-adapter.js') }}"></script>
    <script src="{{ static_url('js/main.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <div class="videos">
        <video id="remote" autoplay></video>
        <video id="local" autoplay muted></video>
      </div>
      <div class="forms">
        <ul>
          <li><label class="small"><input id="audio" type="checkbox" checked>Use mic</label></li>
          <li><label class="small"><input id="video" type="checkbox" checked>Use webcam</label></li>
          <li class="btn-group">
            <button id="btn-call" class="btn" onclick="call()">I want to call</button>
            <button id="btn-receive" class="btn" onclick="receive()">I want to receive a call</button>
          </li>
        </ul>
      </div>
    </div>
    <footer>
      <span id="streaming" class="small"></span>
      <span id="status" class="small"></span>
    </footer>
  </body>
</html>
